﻿@import "nativescript-theme-core/css/core.ligth.css";
@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360); }
}
Image {
    animation-name: spin; 
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
